body {
    --main-bg: black;
    --primary: white;
    --secondary: gray;
    background-color: var(--main-bg);
    color: var(--primary);
    text-align: center;
}

.page {
    display: block;
    text-decoration: none;
    margin-bottom: 5vh;
    height: 20vh;
    line-height: 20vh;
    font-size: x-large;
    color: var(--primary);
    border: 0.5vw solid var(--secondary);
}